OPENROUTER_API_KEY=isi-api-key-openrouter-disini
OPENROUTER_MODEL=cohere/north-mini-code:free
GEMINI_API_KEY=isi-api-key-google-ai-studio-disini-opsional

PORT=3001
CHROMA_URL=http://localhost:8000
JWT_SECRET=isi-string-acak-panjang-disini
DEFAULT_ADMIN_PASSWORD=isi-password-admin-disini
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

DOCS_PATH=./docs
UPLOADS_PATH=./uploads
DATA_PATH=./data
OCR_PATH=./ocr_text
CHUNKS_PATH=./chunks
